# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
env/
ENV/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# System files
.DS_Store
Thumbs.db

# Model files (optional if models are large or private)
models/*.h5

# Streamlit log cache
.streamlit/

# VSCode settings (if applicable)
.vscode/
